<div class="center">
  <div class="container">
    <hr>

    <div class="row">
      <!-- BEGIN LISTING-->
      <div class="listing listing--gallery">
        <header class="listing__header">
          <h1 class="listing__title" style="text-align: center">Краткие выдержки из портфолио</h1>
        </header>
        <div class="listing__main">
          <div class="properties properties--gallery">


            <% 17.times do %>
            <div class="properties__item" data-sr="enter bottom move 80px, scale(0), over 0.5s" data-animate-end="animate-end">
              <div class="properties__thumb"><a href="assets/media-demo/properties/1168x550/02.jpg" data-size="1168x550" class="js-gallery-item item-photo item-photo--static"><img src="assets/media-demo/properties/830x540/02.jpg" alt=""></a></div>
              <div class="properties__info"><span class="properties__address-street">ybw-group.ru</span>
                <!--<span class="properties__price">$4,555<span class="properties__price-period">per month</span></span>-->
              </div>
              <!-- end of block .properties__info-->
            </div>
            <% end %>

            <!-- end of block .properties__item-->
          </div>
        </div>
        <hr>

      </div>
      <!-- END LISTING-->
    </div>
  </div>
</div>