<div class="achievement" style="height: 310px;  background: url('/assets/media-demo/banner/w2.jpg') 0 0 no-repeat;">
  <div class="container">
    <div class="row rational">

      <h1>Кроме того</h1>

    </div>
  </div>
</div>
