<section class="worker worker--index">
  <div class="container">
    <header class="worker__header">
      <h3 class="worker__title">Дополнительные опции</h3>
      <h4 class="worker__headline">Our agents are licensed professionals that specialise in searching, evaluating and negotiating the purchase of property on behalf of the buyer. They will sell you real estate. Insights, tips &amp; how-to guides on selling property and preparing your home or investment property for sale and working to maximise your sale price.</h4>
    </header>


    <div class="row options">
      <div class="col-md-6 form-property__checkboxes" style="">

       <form class="form-property__checkboxes">

         <ul class="form-property__checkboxes">
           <li>
             <label for="option_1" class="in-label">Wireless Internet</label>
             <input id="option_1" type="checkbox" class="in-checkbox">
           </li>
           <li>
             <label for="option_2" class="in-label">Kitchen</label>
             <input id="option_2" type="checkbox" class="in-checkbox">
           </li>
           <li>
             <label for="option_3" class="in-label">Internet</label>
             <input id="option_3" type="checkbox" class="in-checkbox">
           </li>
           <li>
             <label for="option_4" class="in-label">Air Conditioning</label>
             <input id="option_4" type="checkbox" class="in-checkbox">
           </li>
           <li>
             <label for="option_5" class="in-label">Heating</label>
             <input id="option_5" type="checkbox" class="in-checkbox">
           </li>
           <li>
             <label for="option_6" class="in-label">Smoking Allowed</label>
             <input id="option_6" type="checkbox" class="in-checkbox">
           </li>
         </ul>


       </form>

      </div>
      <div class="col-md-6 figur">
        <img src="/assets/img/skobk.png">
        <h3>50 000 рублей<br> за любую опцию</h3>
      </div>
    </div>

  </div>
</section>


