<section class="properties properties--index">
  <div class="container">
    <header class="properties__header" style="margin-top: 80px;">

      <h3 class="properties__title" data-sr="enter bottom move 80px, scale(0), over 0.9s" data-animate-end="animate-end" style="margin-bottom: 53px;">Вы пришли по адресу</h3>

      <div class="row">
        <div class="col-md-4 base_postulats well" data-sr="enter bottom move 80px, scale(0), over 0.5s" data-animate-end="animate-end">
          <h3>Не хотите идти к фрилансерам?</h3>
          <h4 class="properties__headline">Сайты в 4-6 раз дешевле, чем мы делаем обычно</h4>
        </div>
        <div class="col-md-4 base_postulats well" data-sr="enter bottom move 80px, scale(0), over 0.6s" data-animate-end="animate-end">
          <h3>Не хотите наблюдать "шаманство" с оценкой?</h3>
          <h4 class="properties__headline">Сайты в 4-6 раз дешевле, чем мы делаем обычно</h4>
        </div>
        <div class="col-md-4 base_postulats well" data-sr="enter bottom move 80px, scale(0), over 0.7s" data-animate-end="animate-end">
          <h3>Столичные студии дорого просят?</h3>
          <h4 class="properties__headline">Сайты в 4-6 раз дешевле, чем мы делаем обычно</h4>
        </div>
      </div>


      <h4 class="properties__headline" style="font-size: 18px;">Сайты в 4-6 раз дешевле, чем мы делаем обычно</h4>

    </header>
    <!-- end of block .properties__header-->
  </div>
</section>
