<div class="achievement" style="height: 310px; background: url('/assets/media-demo/banner/w1.jpg') 0 0 no-repeat;">
  <div class="container">
    <div class="row rational">

      <h1>Время рациональных решений</h1>

    </div>
  </div>
</div>
